.long-2 {
  margin-top: 2000px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.hbox {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* column-gap: 250px; */
  align-items: center;
  vertical-align: middle;
  margin: 0px 20px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 60%;
  box-sizing: border-box;
}


.label {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 195%;
  font-weight: 700;
}

.contact-main {
  width: 100%;
  overflow: hidden;
}

.basic-contact {
  margin-left: 5%;
  margin-right: 5%;
}

.contact-heading-div {
  display: flex;
  /* max-width: 100%; */
}

.blog-heading-div {
  display: flex;
}

.address-heading-div {
  display: flex;
  margin-top: 40px;
}

.blog-heading-div>* {
  flex: 1;
}

.contact-heading-div>* {
  flex: 1;
}

.address-heading-div>* {
  flex: 1;
}

.contact-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-heading-img-div {
  align-items: center;
  justify-content: center;
}

.ref {
  font-size: 150%;
  margin-top: 40px;
  margin-right: 40px;
  font-family: "Agustina Regular";
  text-align: end;

}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}

.contact-heading-text-div {
  text-align: center;
  margin-right: 5%;
}

.blog-heading-text-div {
  text-align: center;
}

.address-heading-text-div {
  margin-top: 40px;
  margin: auto;
  max-width: 80%;
  text-align: center;
}

.contact-heading-img-div>* {
  max-width: 60%;
  height: auto;
}

.blog-heading-img-div>* {
  max-width: 100%;
  height: auto;
}

.contact-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.blog-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 40px;
}

.address-heading-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 25px;
}

.contact-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
  margin-bottom: 20px;
}

.blog-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

.resume-btn-div {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.blogsite-btn-div {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 1380px) {
  .contact-heading-text {
    font-size: 50px;
    margin-top: 60px;
  }

  .blog-heading-text {
    font-size: 50px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .hbox {
    margin: auto;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .contact-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .blog-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .address-heading-text {
    font-size: 20px;
  }

  .blog-heading-div {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: 0px;
  }

  .blog-heading-text-div {
    margin-top: 40px;
  }

  .address-heading-text-div {
    margin-top: 40px;
  }

  .contact-heading-div {
    flex-direction: column;
  }

  .contact-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .blog-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .contact-heading-text-div {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
}