.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    position: absolute;
    bottom: 100%;
    /* Position above the element */
    left: 50%;
    /* Position in the center horizontally */
    transform: translateX(-50%);
    /* Center the tooltip */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.tooltip-container:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}